/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 31, 2014, 10:54:17 AM
    Author     : Jyothis
*/
.crdTable > thead  > tr > th {
    padding: 3px 3px 3px 3px;
    margin: 0px;
    text-align: left;
    font-size: 12px;
    vertical-align: central;
    
    
}
.crdTable > tbody  > tr > td {
    padding: 3px 3px 3px 3px;
    margin: 0px;
    text-align: left;
    vertical-align: central;
}

.crdTable > tbody  > tr > td > select {
    padding: 0px;
    margin: 0px;
    height: auto;
}

.crdTable > tbody  > tr > td > input{
    width: 88%;
}

.aFtable-responsive {
    width: 100%;
    margin-bottom: 0px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #DDD;
    -webkit-overflow-scrolling: touch;
}

.credentialTrunc{
    max-width: 100px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.highlight_row {
    background: highlight;
}

